/* colour hexes
sandy tan: #d5c9c9
lightseagreen
lightgrey
grey
*/

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px 20px;
  padding: 0;
}

/* flexing off the bat */
#root > div {
  display: flex;
  flex-direction: row;
}

/* adjusting all headers */
h2,
h3,
h4 {
  border: 0px;
  margin: 0px;
  padding: 10px;
}

section {
  padding: 10px;
}

p {
  border: 0px;
  margin: 5px 10px;
  padding: 0px;
}

/* Navigation bar start */
nav {
  margin-top: 5px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d5c9c9;
  width: auto;
}

ul.topnav li .nav-link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li .nav-link:hover:not(.active) {
  background-color: grey;
}

ul.topnav li .nav-link.active {
  background-color: lightseagreen;
  font-weight: bold;
}

container-flex {
  margin: 0;
  padding: 0px;
}
/* Navigation bar end */

/* Monster ScrollyTelling Search page */
#container {
  padding: 0 20px;
}

#monsterInput {
  padding: 5px 10px;
  width: 250px;
}

#monsterResult {
  overflow: scroll;
  height: 80vh;
  max-width: 90vw;
  border: 1px solid lightgray;
  border-radius: 2.5px;
}
.monster-result {
  margin: 3px 10px;
  padding: 20px;
  border-bottom: 1px solid #483b3b;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  min-height: 85vh;
}

#monsterImage {
  display: flex;
  padding: 0px 10px;
  float: right;
  width: 100%;
}

.flex-api-image {
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px 0 0 10px;
  max-width: 25vw;
}

.flex-api-text {
  display: flex;
  flex-direction: column;
  max-width: 50vh;
  margin-top: 20px;
}
/* Button used to open the filter form */
.open-button {
  background: transparent;
  border: 1px grey solid;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.scrollButton {
  background: transparent;
  border: 1px grey solid;
  padding: 5px;
  cursor: pointer;
}

/* The popup form - hidden by default */
.filter-form {
  display: none;
  background-color: #f1f1f1;
  padding: 10px 10px;
  position: fixed;
  left: 200px;
  border: 2px solid black;
  z-index: 9;
  min-width: 80vw;
  min-height: 70vh;
  overflow: scroll;
}
#FilterForm input {
  padding: 3px;
}

#FilterForm label {
  padding: 0 5px;
}

.ruler {
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
  padding-left: 5px;
}
.ruler-pip {
  width: 1px;
  height: 7px;
  color: #ccc;
  font-size: 0.7em;
}
.btn {
  display: inline-block;
  border: solid grey;
  margin: 3px;
  padding: 3px;
  width: fit-content;
  font-size: 0.9em;
}
.included {
  font-weight: bold;
  color: green;
}
.excluded {
  font-weight: bold;
  color: red;
}

/* 11 Nov 2024, Sliders
https://codesandbox.io/p/sandbox/multi-range-slider-react-js-6rzv0f */
.slider-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  left: 20px;
  position: relative;
}

.slider-track,
.slider-range {
  height: 5px;
  position: absolute;
}

.slider-track {
  background-color: white;
  width: 96%;
  z-index: 1;
}

.slider-range {
  background-color: lightseagreen;
  z-index: 4;
}

#crRangeLeft,
#crRangeRight {
  border-radius: 5px;
  font-size: 12px;
}

#crRangeLeft {
  background-color: transparent;
}
#crRangeRight {
  background-color: transparent;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 96%;
  outline: none;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: lightseagreen;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px lightgrey;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: lightseagreen;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px lightgrey;
  cursor: pointer;
  height: 18px;
  width: 18px;
  pointer-events: all;
  position: relative;
}

/* Monster Search page End */

/* Search Table Start*/
.listInfo {
  width: 400px;
  height: auto;
  border: solid grey 1px;
  border-radius: 10px;
  padding: 5px;
}

input {
  margin: 5px;
  margin-left: 10px;
}

table {
  margin: 0px;
  border-top: solid grey 1px;
  width: auto;
  height: auto;
  justify-content: center;
}
thead {
  font-weight: bold;
  justify-content: flex-end;
}
th {
  font-weight: bold;
  padding: 5px;
  font-size: 1.1em;
}
.categoryStyle {
  font-weight: bold;
  text-align: left;
  border-top: 10px;
  padding: 7px 3px 3px 10px;
  font-size: 1em;
  background-color: #d5c9c9;
}
td {
  padding: 3px 17px;
  width: auto;
}

tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*Search Table End*/

/*Adding Character Form Start*/
#characterCreation,
#itemCreation {
  margin: 10px;
  width: 400px;
  height: auto;
  border: solid grey 1px;
  border-radius: 10px;
  padding: 5px;
}

#characterCreation label,
#itemCreation label {
  display: flex;
  padding: 10px 0px 3px 0px;
  align-items: baseline;
}

#characterCreation input,
#itemCreation input {
  margin: 5px;
}

#characterCreation textarea,
#itemCreation textarea {
  margin: 5px;
}

#characterCreation input[type='number'],
#itemCreation input[type='number'],
#add {
  width: 50px;
}

.spacedType {
  justify-content: space-between;
}
.error {
  font-size: 0.7em;
  color: red;
}
/*Adding Character Form End*/

/* Start of Campaign Page */
.campaignOrder {
  margin: 10px;
}
.sectionOrder {
  margin: 5px;
  padding: 0 0 0 25px;
}
.sectionOrder2 {
  margin: 5px;
  padding: 0 0 0 50px;
}
.plotSection {
  padding: 0 5px;
  border: grey solid 1px;
  margin: 5px;
}
.plotSection:hover {
  background-color: lightgrey;
}
.sectionOrder:hover {
  background-color: lightgrey;
}
.sectionOrder2:hover {
  background-color: lightgrey;
}
.buttonBox {
  justify-self: right;
}
.buttonAdd .buttonUp .buttonDown .buttonDelete {
  padding: 20px 10px;
  background-color: transparent;
  margin: 10px;
}

.buttonDelete {
  color: red;
}
.buttonAdd {
  color: lightseagreen;
}
/* End of Campaign Page */
