* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0px 20px;
  padding: 0;
}

/* flexing off the bat */
#root > div {
  display: flex;
  flex-direction: row;
}

/* adjusting all headers */
h2,
h3 {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

p {
  border: 0px;
  margin: 5px 10px;
  padding: 0px;
}

/* Navigation bar start */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d5c9c9;
  width: auto;
}

ul.topnav li {
  float: left;
}

ul.topnav li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: collapse;
  height: 1px;
  overflow: hidden;
}

ul.topnav li button:hover:not(.active) {
  background-color: grey;
}

ul.topnav li button.active {
  background-color: lightseagreen;
}

button {
  background: transparent;
  border: 1px grey solid;
  padding: 5px;
}

container-flex {
  margin: 10px;
  padding: 10px;
}
/* Navigation bar end */


/* Monster ScrollyTelling Search page */
#container {
  padding: 0 20px;
}

#monsterInput {
  padding: 5px 10px;
  width: 250px;
}

#monsterResult {
  overflow: scroll;
  height: 80vh;
  max-width: 90vw;
}
.monster-result {
  margin: 3px 10px;
  padding: 20px;
  border-bottom: 1px solid #483b3b;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  min-height: 85vh;
}

#monsterImage {
  display: flex;
  padding: 0px 10px;
  float: right;
  width: 100%;
}

/* ScrollyTelling */
.flex-api-image {
  float: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px 0 0 10px;
  max-width: 25vw;
}

.flex-api-text {
  display: flex;
  flex-direction: column;
  max-width: 50vh;
  margin-top: 20px;
}