* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

#root > div {
  display: flex;
  flex-direction: row;
}

container-flex {
  display: flex;
  margin: 10px;
  padding: 10px;
}
.spaced {
  padding: 0 20px;
}
