
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

form {
  margin: 10px;
}

label {
  display: flex;
  padding: 5px ;
  align-items: baseline;
}

input[type=number], #add {
  width:50px;
}

.spacedType {
  align-content: space-between;
}