
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

form {
  margin: 10px;
}
label {
  display: flex;
  padding: 3px 5px 0 5px ;
  justify-content: end;
}
input{
  margin-left: 20px;
}
input[type=number], #add {
  width:50px;
}