
body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.listInfo {
  width: 400px;
  height: auto;
  border: solid grey 1px;
  border-radius: 10px;
  padding: 5px;
}

input {
  margin: 5px;
  margin-left: 10px;
}

table {
  margin: 0px;
  border-top: solid grey 1px;
  width: auto;
  height: auto;
  justify-content:center;
}
thead{
  font-weight: bold;
  justify-content: flex-end;
}
th {
  font-weight: bold;
  padding: 5px;
  font-size: 1.1em;
}
.categoryStyle {
  font-weight: bold;
  text-align:left;
  padding: 3px 10px;
  font-size: 1em;
  background-color: #d5c9c9;
}
td {
  padding: 3px 17px;
  width: auto;
}
tr{
  padding: 5px;
}
tbody > tr:nth-child(even) {background-color: #f2f2f2;}

