/* The Range slider */

.slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .slider__track,
  .slider__range {
    position: absolute;
    border-radius: 3px;
    height: 5px;
  }
  .slider__track {
    background-color: #d5c9c9;
    border-radius: 50%;
    z-index: 1;
  }
  .slider__range {
    background-color: #64abab;
    max-width: 96%;
    margin-left: 3%;
    z-index: 3;
  }
  
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    width: 98%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    position: absolute;
    pointer-events: none;
  }
  input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 70%;
    background: #04aa6d;
    pointer-events: all;
    cursor: pointer;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04aa6d;
    pointer-events: all;
    cursor: pointer;
  }
  #crRangeLeft {
    height: 2px;
    z-index: 3;
  }
  #crRangeRight {
    background-color: transparent;
    z-index: 3;
  }
  /* end of slider circles */